<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-request-review" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Request Review</name>
    <js-module name="RequestReview" src="www/RequestReview.js">
        <clobbers target="SKStoreReviewController" />
    </js-module>
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="RequestReview">
          <param name="ios-package" value="RequestReview" />
        </feature>
      </config-file>
      <source-file src="src/ios/RequestReview.swift" />
    </platform>
    <dependency id="cordova-plugin-add-swift-support" version="1.6.1"/>
</plugin>
